@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shalimar&display=swap");

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Shalimar", cursive;

  --clr-primary: #ffffff;
  --clr-secondary: #f7f3e3;
  --clr-accent: #6f1a07;

  --padding-div: 0.5em;

  --border-btn: 0.2em solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--clr-primary);
  font-family: var(--font-primary);
}
button {
  background-color: transparent;
  border: var(--border-btn);
}
.height-100 {
  min-height: 100vh;
}
.height-50 {
  min-height: 50vh;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HOME  */
.home-container {
}
.user-list {
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--padding-div);

  background-color: var(--clr-secondary);
}
.user-form {
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 50%;

  padding: var(--padding-div);
  background-color: var(--clr-primary);
}
.user-form form {
  flex-direction: column;
}
.user-form h2 {
  text-align: center;
}
